@font-face {
  font-family: "iconfont"; /* Project id 2547299 */
  src: url('iconfont.ttf?t=1640606712701') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dj-wallet:before {
  content: "\e67f";
}

.dj-loop:before {
  content: "\e67e";
}

.dj-mute:before {
  content: "\e680";
}

.dj-tixian:before {
  content: "\e67d";
}

.dj-history:before {
  content: "\e67c";
}

.dj-eth:before {
  content: "\e67b";
}

.dj-close:before {
  content: "\e67a";
}

.dj-lvbeifen:before {
  content: "\e675";
}

.dj-baibeifen:before {
  content: "\e676";
}

.dj-huangbeifen:before {
  content: "\e677";
}

.dj-fenbeifen:before {
  content: "\e678";
}

.dj-lanbeifen:before {
  content: "\e679";
}

.dj-xialabeifen:before {
  content: "\e661";
}

.dj-telegram:before {
  content: "\e662";
}

.dj-renzhengbeifen:before {
  content: "\e663";
}

.dj-email:before {
  content: "\e664";
}

.dj-DJzhuyefbeifen:before {
  content: "\e665";
}

.dj-xiayigebeifen:before {
  content: "\e666";
}

.dj-dibutuitebeifen:before {
  content: "\e669";
}

.dj-forward:before {
  content: "\e66a";
}

.dj-copy:before {
  content: "\e66b";
}

.dj-dibuDiscordbeifen:before {
  content: "\e66c";
}

.dj-dibuyouxiangbeifen:before {
  content: "\e66d";
}

.dj-facebook:before {
  content: "\e66e";
}

.dj-twitter:before {
  content: "\e66f";
}

.dj-zuixinbeifen:before {
  content: "\e670";
}

.dj-back:before {
  content: "\e671";
}

.dj-tiaozhuanbeifen:before {
  content: "\e672";
}

.dj-djzhuyetuiteanniubeifen:before {
  content: "\e673";
}

.dj-shangyigebeifen:before {
  content: "\e674";
}

